.app .select-comparables {
    display: flex;
    justify-content: space-between;
}
.app .select-comparables>* {
    flex-grow: 1;
}
.divider {
    text-align: center;
    font-size: 5rem;
    cursor: pointer;
}
