.panel {
    border-bottom: var(--border-width) solid var(--border-color-panel);
    padding: var(--space-unit-reduced) var(--space-unit-default);
}
.panel .panel-header {
    margin-top: var(--space-unit-default);
    margin-bottom: calc(var(--space-unit-default) * 2);
    text-align: center;
}
