.select-control {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.select-list .selectable-product {
    border-bottom: 1px solid grey;
}
.product-image img {
    border-radius: .5rem;
    border: 1px solid white;
}
