.property-wrapper,
.header-wrapper {
    display: flex;
}
.selectable-property-header {
    flex-grow: 100;
}
.selectable-property-header,
.property-weight-header {
    padding: var(--space-unit-reduced) var(--space-unit-default);
}
.property-weight {
    border-bottom: var(--border-width) solid var(--border-color-item);
    padding: var(--space-unit-reduced) var(--space-unit-default);
    border-radius: var(--space-unit-reduced);
    margin: var(--space-unit-default) 0 var(--space-unit-default) var(--space-unit-default);
    background: var(--background-default);
    cursor: pointer;
}
.property-weight input {
    border: none;
}
