.select-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-unit-reduced) var(--space-unit-default);
    margin: var(--space-unit-default) 0;
    border-radius: var(--space-unit-default);
    background: var(--background-default);
    cursor: pointer;
    border-bottom: var(--border-width) solid var(--border-color-item);
}
.select-item.selected {
    background: var(--background-selected);
}
