:root {
    --background-default: #f5f5f5;
    --background-selected: lightgreen;
    --border-width: 1px;
    --border-color-item: grey;
    --border-color-panel: black;
    --space-unit-default: 1rem;
    --space-unit-reduced: calc(var(--space-unit-default) / 2);
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
